<h1>About Layla's Page</h1>
  <p>
    Layla's Page was started in an attempt to rectify the lack of accessibility with most online forms. While the majority of our forms will be used for online purposes, please don't let that discourage you from using them internally as well! Our goal is to demonstrate how easy accessibility can be, provide a little helping hand and in the process, ensure the web remains accessible for all.
  </p>

  
