<h1>Layla's Page Mobile Version</h1>
  <h2>
    Lending a helping hand to ensure the web remains accessibile for all!
  </h2>
  <div>
    <%= link_to "Sign up now!", '/users/new' %>
</div>
  </div>
  


