<h1>Layla's Page Mobile Version</h1>
  <h2>
    Lending a hand to ensure the web remains accessibile for all.
  </h2>
  <div id="sign_up">
    <ul>
      <li>
        <%= link_to "Sign up now!", '/users/new' %>
      </li>
    </ul> 
  </div>
  


